{{ ansible_managed | comment }}

Client {
  Name = "{{ bareos_fd_hostname }}"
  # TODO: TLS Enable is "yes" by default, add the default if not set.
  Messages = "{{ bareos_fd_message }}"
  TLS Enable = {{ bareos_fd_tls_enable | ternary('Yes', 'No') }}
  TLS Verify Peer = {{ bareos_fd_tls_verify_peer | ternary('Yes', 'No') }}
  Heartbeat Interval = {{ baeros_fd_heartbeat_interval }}
}
